<ion-slides>
  <ion-slide class="slide-1">
    <ion-img src="/assets/imgs/slide-1.png"></ion-img>
    <div class="bottom-box">
      <h1>Enjoying the best Ionic tutorials</h1>
      <p>Learning the best hybrid framework</p>
      <ion-button (click)="next()">What else</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-2">
    <ion-img src="/assets/imgs/slide-2.png"></ion-img>
    <div class="bottom-box">
      <h1>Building Real Apps</h1>
      <p>Getting more experience with projects</p>
      <ion-button (click)="next()">Sounds great</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-3">
    <ion-img src="/assets/imgs/slide-3.png"></ion-img>
    <div class="bottom-box">
      <h1>Fixing Problems on the Go</h1>
      <p>Following a big Ionic Community</p>
      <ion-button (click)="finish()">Lets see inside!</ion-button>
    </div>
  </ion-slide>
</ion-slides>
